*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.heading{
    font-size: 40px;
    text-align: center;
    color: #fff;
    background-color: #000;
}
h2{
    padding: 50px 0 0 50px;
    font-size: 35px;
    color: blue;
}
h4{
    padding: 10px 0 0 50px;
    font-size: 30px;
    color: red;
}

@media screen and (max-width:600px) {
    .heading{
        font-size: 30px;
    }
    h2{
        padding: 50px 15px 0 15px;
        font-size: 25px;
        color: blue;
    }
    h4{
        padding: 10px 15px 0 15px;
        font-size: 20px;
    }
}
